/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.p-sidebar-left {
    background: white;
}

.p-sidebar .p-sidebar-header {
    padding: 0;
}

.p-dropdown {
    margin-bottom: 15px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    font-size: 8px;
    margin-top:5px;
}

.p-inputtext {
    width: 158px;
}